body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: radial-gradient(circle at 50% 50%, #f5f5f5, #d9d9d9 70%, #c0c0c0);
    position: relative; /* 어두운 레이어가 부모 요소에 배치되도록 설정 */
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* 기본 배경은 투명 */
    z-index: -100; /* 카메라 및 다른 요소들 위에 표시되도록 설정 */
    transition: 0.7s ease; /* 배경 어두워지는 효과 */
    pointer-events: none; /* 클릭 이벤트가 이 레이어에 영향을 미치지 않도록 */
}

/* 어두운 배경을 활성화하는 darkened 클래스 */
body.darkened .dark-overlay {
    background: radial-gradient(circle at 50% 50%, #f5f5f5, #525252 70%, #272727);
}


.DigitalCamera {
    position: relative;
    width: 800px;
    height: auto;
}

.camera-frame {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    transition: transform 0.5s ease;
}

.photo-container {
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 0.4s ease;
}

.photo {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.photo.active {
    display: block;
}

.click-buttons {
    position: fixed;
    top: 73%;
    right: 340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

.click-left, .click-right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 10001;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.click-left {
    right: 110px;
}

.click-right {
    right: 10px;
}

.click-left img, .click-right img {
    width: 100%;
    height: auto;
    display: block;
}

.click-left.show, .click-right.show {
    opacity: 1;
    pointer-events: all;
}

.home-button {
    position: fixed;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 4;
}

.home-button img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.2s;
}

.home-button:hover img {
    transform: scale(1.1);
}
