html, body {
    height: 100%;
    margin: 0;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background img, #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.background img {
    opacity: 1; 
    transition: opacity 1s ease; 
}

#background-video {
    opacity: 0;
    transition: opacity 1s ease;
}

.koala {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: auto;
    z-index: 2;
}

.koala_nose {
    position: absolute;
    bottom: 67px;
    left: 50%;
    transform: translateX(-50%);
    width: 7%;
    cursor: pointer;
    z-index: 3;
}

h1 {
    color: #f0290c;
    font-size: 20rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0;
}

.home-button {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 4;
}

.home-button img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.2s;
}

.home-button:hover img {
    transform: scale(1.1);
}
