body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: radial-gradient(circle at 50% 50%, #f5f5f5, #d9d9d9 70%, #c0c0c0);
    position: relative;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -100;
    transition: opacity 3s ease;
    pointer-events: none;
}

body.darkened .dark-overlay {
    background: radial-gradient(circle at 50% 50%, #f0f0f0, #b6b6b6 70%, #717171);
}

.DigitalCamera {
    position: relative;
    width: 800px;
    height: auto;
}

.camera-frame {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    transition: transform 0.5s ease;
}

.photo-container {
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 0.4s ease;
}

.photo {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.photo.active {
    display: block;
}

.click-buttons {
    position: fixed;
    top: 73%;
    right: 340px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

.click-left, .click-right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 10001;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.click-left {
    right: 110px;
}

.click-right {
    right: 10px;
}

.click-left img, .click-right img {
    width: 100%;
    height: auto;
    display: block;
}

.click-left.show, .click-right.show {
    opacity: 1;
    pointer-events: all;
}

.home-button {
    position: fixed;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 4;
}

.home-button img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.2s;
}

.home-button:hover img {
    transform: scale(1.1);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 10px;
    color: #000000;
    z-index: 3;
    position: relative;
    text-align: center;
}

.audio-player-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px;
}

.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #828282;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #000000;
    border-radius: 5px;
    width: 0; 
}

.play-button {
    background: transparent; 
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.play-button:before {
    content: '▶';
    font-size: 14px;
    color: #000000;
    transition: transform 0.2s;
    margin-top: 1px;
}

.play-button.playing:before {
    content: '⏸';
    font-size: 20px;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-size: 0.7rem;
    color: #3a3a3a;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
