/* 기존 스타일에 추가 */
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1s ease;
}

.audio-player-container {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 사라지지 않도록 opacity 및 visibility 관련 속성 수정 */
    opacity: 1;
    visibility: visible;
}

/* Pretzel 이미지가 작아지거나 커질 때의 애니메이션 */
.pretzel.small {
    width: 150px; 
    height: auto; 
    position: absolute; 
    z-index: 2;
}

.cafe {
    position: absolute;
    width: 300px;
    height: auto;
    transition: opacity 1s ease;
    z-index: 1;
}

.home-button {
    position: fixed;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.home-button img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.2s;
}

.home-button:hover img {
    transform: scale(1.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f3ea;
}

h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 10px;
    color: #8e6f55;
    z-index: 3;
    position: relative;
    text-align: center;
}

.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #dbad7b;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #8e6f55;
    border-radius: 5px;
    width: 0; 
}

.play-button {
    background: transparent; 
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -14px;
}

.play-button:before {
    content: '▶';
    font-size: 15px;
    color: #8e6f55;
    transition: transform 0.2s;
    font-family: 'Just Another Hand', cursive;
}

.play-button.playing:before {
    content: '⏸';
    font-size: 20px;
    font-family: 'Just Another Hand', cursive;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-size: 0.8rem;
    color: #8e6f55;
    margin-top: 5px;
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    top: 50px;
}

.pretzel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    transition: all 1s ease;
    cursor: pointer;
    animation: growShrink 3s infinite ease-in-out;
    transform-origin: center;
}

@keyframes growShrink {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
