.hidden {
    display: none;
}

.home-button {
    position: fixed;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.home-button img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.2s;
}

.home-button:hover img {
    transform: scale(1.1);
}

.christmas-tree-container {
    position: relative;
    width: 330px;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
}

.christmas-tree {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.star {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}

.star-after {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    animation: float-stars 2.5s infinite ease-in-out; 
}

.star-before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}

.star-after,
.tree-after {
    display: none;
}

h2 {
    font-family: 'Calligraffitti', cursive;
    color: #cfa955;
    position: fixed;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    bottom: 12px;
    display: none;
    opacity: 0; 
    transition: opacity s ease-in-out;
}

.christmas-deco {
    position: fixed;
    width: 220px;
    height: auto; 
    display: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.left-top {
    top: 10px;
    left: 10px;
}

.right-top {
    top: 10px;
    right: 10px;
}

.left-bottom {
    bottom: 10px;
    left: 10px;
}

.right-bottom {
    bottom: 10px;
    right: 10px;
}

.arrow {
    position: absolute;
    top: 95px;
    left: 54%;
    transform: translateX(-50%);
    width: 30px;
    height: auto;
    z-index: 3;
    animation: float-together 2s infinite ease-in-out;
}

h3 {
    font-family: 'Calligraffitti', cursive;
    color: #d5a643;
    position: fixed;
    top: 70px;
    left: 57%;
    z-index: 2;
    animation: float-together 2s infinite ease-in-out; 
}

@keyframes float-together {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes float-stars {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

#snowflakes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #d5a643;
    font-size: 1rem;
    animation: fall linear infinite;
    opacity: 0.8;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0.3;
    }
}
