body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .home-button {
    position: fixed;
    top: 15px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.home-button img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.2s;
}

.home-button:hover img {
    transform: scale(1.1);
}

.notebook {
    width: 800px;
    height: auto;
    object-fit: contain;
}

.audio-player-container {
    position: fixed;
    top: 150px;
    left: 63%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 3px;
    width: 150px;
}

.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 0.6rem;
    margin: 0;
    margin-top: 3px;
    color: #000000;
    text-align: center;
    position: relative;
    left: -8px; 
}

.progress-bar {
    width: 100%; 
    height: 3px;
    background-color: #a3a3a3;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: #000000;
    border-radius: 3px;
    width: 0;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-size: 0.5rem;
    color: #000000;
    margin-top: 3px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.play-button {
    background: transparent; 
    border: none;
    cursor: pointer;
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button:before {
    content: '▶';
    font-size: 9px;
    color: #000000;
    transition: transform 0.2s;
    font-family: 'Pixelify Sans', sans-serif;
}

.play-button.playing:before {
    content: '⏸';
    font-size: 10px;
    font-family: 'Pixelify Sans', sans-serif;
}